#lowerpage {
	width: auto;
	margin: 0;
	position: static;
}
.column {
	float: left;
	width: auto;
	margin: 0;
	margin-top: 2px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
#content {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	display: block;
}
#sidecolumn {
	position: static;
	width: 100%;
	float: left;
	padding: 0;
}
html {
	font-size: 24pt;
	padding: 0;
}
.footdiv {
	width: 96%;
	position: absolute;
	right: 0;
	background-color: #FFFFCC;
	padding: 6px;
	margin: 0;
	font-size: .8em;
	color: black;
}
p {
	text-align: left;
}
article p {
	text-align: left;
}
