---
---
{% include header.inc %}
{% if page.title %}
<div id="mainart">
  <div class="article" style="padding: .3em 1em .3em 1em">
	<h1>{{ page.title }}</h1>
	<p class="byline">{% if page.author %} by <a href="/authors/{{ page.shortauthor }}.html">{{ page.author }}</a> {% endif %} {% if page.date %} on {{ page.date | date: "%A %B %d, %Y" }} {% endif %} 
	  {% if page.categories %} filed under {% for category in page.categories %} <a href="/{{ category }}/">{{ category }}</a> {% endfor %} {% endif %}
	  {% if page.tags %} tagged {% for tag in page.tags %} <a href="/tags/{{ tag }}.html">{{ tag }}</a> {% endfor %} {% endif %}</p>
	{% if page.image %} {{ page.image }} {% endif %}
	{{ content }}
  </div>
</div>
{% else %}
{{ content }}
{% endif %}
{% include footer.inc %}
